@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-hidden font-sans text-[darkgray];
  }
}
@layer utilities {
  .box {
    @apply mx-auto w-11/12 md:w-3/4 3xl:w-1/2;
  }
}
ul {
  list-style: disc;
  margin: 0 0 0 1.5rem;
  padding: 0;
}
@each $direction in "left", "right", "top", "bottom" {
  @keyframes #{$direction} {
    from {
      #{$direction}: -25%;
    }
    to {
      #{$direction}: 100%;
    }
  }
}
.textshadow {
  text-shadow: #000 0 0 5px, #000 0 0 5px, #000 0 0 5px, #000 0 0 5px,
    #000 0 0 5px, #000 0 0 5px;
}
.color {
  animation: color 8s linear infinite;
  background-size: 400% 400% !important;
  background: linear-gradient(90deg, #00ffbd, #d000ff);
}
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 75% 75%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.star {
  animation: star 15s linear infinite;
}
@keyframes star {
  to {
    transform: translate(-100vw);
  }
  from {
    transform: translate(0);
  }
}
$mint: #65ff78;
.ripple {
  background-color: $mint;
  height: 1rem;
  border-radius: 50%;
  animation: ripple 1s linear infinite;
}
@keyframes ripple {
  from {
    box-shadow: 0 0 0 0 rgba($mint, 0.3), 0 0 0 1rem rgba($mint, 0.3),
      0 0 0 3rem rgba($mint, 0.3), 0 0 0 6rem rgba($mint, 0.3),
      0 0 0 9rem rgba($mint, 0.3), 0 0 0 12rem rgba($mint, 0.3),
      0 0 0 15rem rgba($mint, 0.3), 0 0 0 18rem rgba($mint, 0.3),
      0 0 0 21rem rgba($mint, 0.3), 0 0 0 24rem rgba($mint, 0.3);
  }
  to {
    box-shadow: 0 0 0 1rem rgba($mint, 0.3), 0 0 0 3rem rgba($mint, 0.3),
      0 0 0 6rem rgba($mint, 0.3), 0 0 0 9rem rgba($mint, 0.3),
      0 0 0 12rem rgba($mint, 0.3), 0 0 0 15rem rgba($mint, 0.3),
      0 0 0 18rem rgba($mint, 0.3), 0 0 0 21rem rgba($mint, 0.3),
      0 0 0 24rem rgba($mint, 0.3), 0 0 0 27rem rgba($mint, 0);
  }
}
@each $color in red, orange, yellow, green, blue, indigo, violet {
  .glow-#{$color} {
    animation: glow-#{$color} 3s ease-in-out infinite alternate;
  }
  @keyframes glow-#{$color} {
    from {
      filter: drop-shadow(0 0 20px $color);
      opacity: .8;
    }
    to {
      filter: drop-shadow(0 0 40px $color);
      opacity: 1;
    }
  }
}
