@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-y-hidden font-sans;
  }
  body {
    @apply bg-black text-[darkgray];
  }
}

$directions: "left", "right", "top", "bottom";
@each $dir in $directions {
  @keyframes #{$dir} {
    from {
      #{$dir}: 0;
    }
    to {
      #{$dir}: 100%;
    }
  }
  .#{$dir} {
    position: absolute;
    box-shadow: 10px 10px 15px black;
    z-index: 0;
    animation: #{$dir} infinite 5s linear;
  }
}

@keyframes color {
  0% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}

/* The element to apply the animation to */
body {
  background-color: red;
  animation: color infinite 8s ease;
}
