@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply overflow-y-hidden bg-[red] font-sans text-[darkgray];
    animation: color infinite 8s ease;
  }
}
@layer utilities {
  .move {
    @apply absolute z-0;
    box-shadow: 10px 10px 15px black;
  }
}
@each $direction in "left", "right", "top", "bottom" {
  @keyframes #{$direction} {
    from {
      #{$direction}: -25%;
    }
    to {
      #{$direction}: 100%;
    }
  }
}
@keyframes color {
  0% {
    background-color: red;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: red;
  }
}
